{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <!-- 질문 -->
    <h2 class="border-bottom py-2">고려대 농구동아리 🏀앨리옵🏀의 농구교실!!</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">
                <label style="color:#630000; font-weight:bold;">동아리명</label>
                     앨리옵 <br>
                <label style="color:#630000;font-weight:bold;">해시태그</label>
                     #농구 #스포츠 #NBA #농구코트<br>
                <label style="color:#630000;font-weight:bold;">상세 설명</label>
                    대상: 성북구에 거주하는 초등학생/중학생
일시: 9/23~10/28 매주 금요일 오후 3시~5시
장소: 고려대학교 애기능 농구코트

농구를 더 잘하고싶다고? 재미있게! 즐겁게! 농구 수업을 즐기고싶다고?
고려대학교 !!최고의!! 농구동아리 앨리옵에서 농구 수업 듣자~!!

9/23 – 농구 이론 및 기본기 지도
9/30 – 기초체력 강화 훈련 및 간단한 농구 연습
10/7 – 슛, 드리블 연습
10/14 –포스트 업, 리바운드 훈련
10/21 – 경기 운영 전술 지도(픽앤롤, 아이솔레이션, 모션 오펜스 등)
10/28 – 재미있는 농구 시합 진행

                    <div>
                        <img src="/static/alleyopt.png"  style="width:400px;float:left">
                    </div>

                <div>
                    <br><br><br><br><br><br><br><br>
                    <label style="color:#630000; font-weight:bold;">문의사항</label>
                    0c8j2h5@korea.ac.kr로 연락 주세요!<br>
                    <label style="color:#630000; font-weight:bold;">신청 방법</label>
                    위의 메일로 연락 주시면 됩니다<br>
                    <label style="color:#630000; font-weight:bold;">작성자</label>
                    농구왕통키
                </div>
            </div>
            <div class="d-flex justify-content-end">
                {% if question.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div>{{ question.modify_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ question.writer.username }}</div>
                    <div>{{ question.create_date }}</div>
                </div>
            </div>

        </div>
                <div style="display:flex; flex-direction: row;">
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-heart fa-lg" style="color: red;">
                    <i style="color:gray; font-size:13px;"> {{user}}님 포함 1명이 좋아합니다.</i></i>
                </a>
                </div>
                <div class="my-3">
                {% if request.user == question.author %}
                <a href="{% url 'ku_manam:question_modify' question.id  %}"
                    class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                    data-uri="{% url 'ku_manam:question_delete' question.id  %}">삭제</a>{% endif %}
                &nbsp;&nbsp;&nbsp;<a href="{% url 'ku_manam:talent_donation' %}" class="btn btn-sm btn-outline-success" >돌아가기</a>
                    </div>
            </div>
    </div>
    <!-- 댓글 -->

</div>
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

</script>
{% endblock %}