{% extends 'base.html' %}
<! doctype html>
<html lang="ko">
<head>
    <style>
    body {
        font-family: Consolas, monospace;
    }
        .nav {
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;

        }
        ul {
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        }
    </style>
</head>
</html>
{% load pybo_filter %}
<!-- 네비게이션바 -->
{% block content %}
<div class="container my-3">
    <div class="row my-100">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="box-shadow: 0 0 2px; border-top-right-radius:10px;border-top-left-radius:10px;background-color: #F5F5F5;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
                <table class = 'table' style="background-color: #EEEBBD; color: #EEEBBD">
                  <thead>
                  <br>
                      <a href="{% url 'ku_manam:talent_donation' %}" class="btn" style="text-align:left; background-color: #F5F5F5; color: #630000;  font-size:1.1em" >고려대 동아리<br>지역 연계 프로그램</a>
                  <br>
                  <br>
                  </thead>

                  <tbody>
                    <!--필터 바-->
                    <form class="form-inline my-2 my-md-0" method="get" action="{% url 'ku_manam:talent_donation' %}">
                      <!--검색기능-->
                      <input class="form-control" type="text" placeholder="검색어 입력" aria-label="Search" name="b" value="{{b}}">
                      <br>
                      <!--카테고리필터-->
                      <label for="customRange3" style="color: #982323">분과</label>
                      <div class="form-check form-check-inline">
                          <input class="form-radio-input" type="radio" id="customRadio1" name="f", value="기악예술분과">
                          <label class="form-radio-label" for="customRadio1" style="color: #696464">기악예술분과</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-radio-input" type="radio" id="customRadio2" name="f", value="문화체육분과">
                          <label class="form-radio-label" for="customRadio2" style="color: #696464">문화체육분과</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-radio-input" type="radio" id="customRadio3" name="f", value="사회분과">
                          <label class="form-radio-label" for="customRadio3" style="color: #696464">사회분과</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-radio-input" type="radio" id="customRadio4" name="f", value="사회종교분과">
                          <label class="form-radio-label" for="customRadio4" style="color: #696464">사회종교분과</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-radio-input" type="radio" id="customRadio5" name="f", value="생활문화분과">
                          <label class="form-radio-label" for="customRadio5" style="color: #696464">생활문화분과</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-radio-input" type="radio" id="customRadio6" name="f", value="언어분과">
                          <label class="form-radio-label" for="customRadio6" style="color: #696464">언어분과</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-radio-input" type="radio" id="customRadio7" name="f", value="연행예술분과">
                          <label class="form-radio-label" for="customRadio7" style="color: #696464">연행예술분과</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-radio-input" type="radio" id="customRadio8" name="f", value="인문과학분과">
                          <label class="form-radio-label" for="customRadio8" style="color: #696464">인문과학분과</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-radio-input" type="radio" id="customRadio9" name="f", value="전시창작분과">
                          <label class="form-radio-label" for="customRadio9" style="color: #696464">전시창작분과</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-radio-input" type="radio" id="customRadio10" name="f", value="종교분과">
                          <label class="form-radio-label" for="customRadio10" style="color: #696464">종교분과</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-radio-input" type="radio" id="customRadio11" name="f", value="체육분과">
                          <label class="form-radio-label" for="customRadio11" style="color: #696464">체육분과</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-radio-input" type="radio" id="customRadio12" name="f", value="학술연구분과">
                          <label class="form-radio-label" for="customRadio12" style="color: #696464">학술연구분과</label>
                      </div>
                        <br>
                      <button type='submit' class='btn btn-warning' style="background-color: #982323; color: #EEEBDD; border-color: #982323;">검색</button>  <!--위에것과 기능은 같음-->
                      <!-- <button type='reset' class='btn btn-info'>RESET</button> -->
                        <br>
                    </form>
                  </tbody>
                </table>

            <br>
            <br>
          </ul>
        </div>
      </nav>

    <role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <a href="{% url 'ku_manam:talent_donation' %}" class='btn btn-warning' style="background-color: #982323;color: #EEEBDD; border-color: #982323">고려대 동아리 지역 연계 프로그램</a> &nbsp;
        <a href="{% url 'circlelist:search' %}" class='btn btn-warning' style="background-color: #F5F5F5;color: #982323; border-color: #982323">동아리 모아보기</a>
        <br>
        <br>
        <table class="table">
            <thead>
            <tr class="table" style="background-color:#F5F5F5; color:#696464;border-style : hidden!important; box-shadow: 0 0 0.8px; border-top-radius:16px;">
                <th><center>번호</center></th>
                <th><center>제목</center></th>
                <th><center>분과</center></th>
                <th><center>동아리명</center></th>
                <th><center>작성일시</center></th>
                </tr>
                </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr class="text-center">
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td class="text-start">
                <a href="{% url 'ku_manam:detail' question.id %}"><center>{{ question.subject }}</center></a>
                {% if question.answer_set.count > 0 %}
                <span class="text-danger small mx-2">{{ question.answer_set.count }}</span>
                {% endif %}
            </td>
            <td><center>{{ question.category }}</center></td>
            <td>{{ question.title }}</td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">글이 없습니다.</td>
        </tr>
    {% endif %}
    </tbody>
    </table>
    </role>

    <br>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.previous_page_number }}" href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
        {% if page_number == question_list.number %}
        <li class="page-item active" aria-current="page">
           <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.next_page_number }}"
           href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.next_page_number }}" href="javascript:void(0)"">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

</div>
</div>
<form id="searchForm" method="get" action="{% url 'ku_manam:talent_donation' %}">
    <input type="hidden" id="b" name="b" value="{{ b|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>
{% endblock %}