{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <!-- 질문 -->
    <h2 class="border-bottom py-2">🎸양지바른곳 밴드부🎸와 같이 합주해요!</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">
                <label style="color:#630000; font-weight:bold;">동아리명</label>
                     양지바른곳 <br>
                <label style="color:#630000;font-weight:bold;">해시태그</label>
                     #밴드 #합주 #노래 #드럼 #베이스 #기타 #건반<br>
                <label style="color:#630000;font-weight:bold;">상세 설명</label>
                    대상: 성북구 주민 누구나
일시: 9/24~10/29 매주 토요일 오후 4시~6시
장소: 양지바른곳 동아리방 or 혜화 근처 합주실

고려대학교 밴드부 ‘양지바른곳’과 함께 연주해요~! 평소에 즐겨 듣던 음악, 연주해보고 싶었던 노래 등을 함께 연주해 볼 수 있습니다. 기타, 베이스, 드럼, 보컬, 키보드 중 원하는 포지션에 지원 해주시면 됩니다! 6주동안 하나의 곡을 연습하여 초보자도 완성도 있는 합주를 진행할 수 있습니다 ;) 악기를 처음 배우는 사람도 초보자 음악교실을 운영하니 부담 없이 참여하시면 됩니다!

9/24 – 선곡회의, 개인연습 및 단체연습 계획 잡기
10/1 – 기타/베이스/드럼교실 참여
10/8 – 단체 합주 진행
10/15 – 중간평가 및 단체합주
10/22 – 단체 합주 진행
10/29 – 합주 버스킹 or 합주 영상 촬영

많은 참여 부탁드립니다-!

                    <div>
                        <img src="/static/yangji.png"  style="width:400px;float:left">
                    </div>

                <div>
                    <br><br><br><br><br><br><br><br>
                    <label style="color:#630000; font-weight:bold;">문의사항</label>
                    https://open.kakao.com/o/sXIsJgDe <br>
                    <label style="color:#630000; font-weight:bold;">신청 방법</label>
                    https://open.kakao.com/o/sXIsJgDe 에서 문의 부탁드립니다<br>
                    <label style="color:#630000; font-weight:bold;">작성자</label>
                    감보이
                </div>
            </div>
            <div class="d-flex justify-content-end">
                {% if question.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div>{{ question.modify_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ question.writer.username }}</div>
                    <div>{{ question.create_date }}</div>
                </div>
            </div>

        </div>
                <div style="display:flex; flex-direction: row;">
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-heart fa-lg " style="color: gray;font-size:13px;"> 1명이 좋아합니다.</i>
                </div>
                <div class="my-3">
                {% if request.user == question.author %}
                <a href="{% url 'ku_manam:question_modify' question.id  %}"
                    class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                    data-uri="{% url 'ku_manam:question_delete' question.id  %}">삭제</a>{% endif %}
                &nbsp;&nbsp;&nbsp;<a href="{% url 'ku_manam:talent_donation' %}" class="btn btn-sm btn-outline-success" >돌아가기</a>
                    </div>
            </div>
    </div>
    <!-- 댓글 -->

</div>
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

</script>
{% endblock %}