{% extends 'base.html' %}
{% block style %}
    .h3 {
      text-align:center
    }
{% endblock %}
{% block content %}
    <div class="table-title">
        <h3>맞춤 프로그램 찾아보기</h3>
    </div>
    <div class="container my-3">
        <table class="table">
            <thead>
            <tr class="table-dark">
                <th>프로그램명</th>
                <th>유형</th>
                <th>카테고리</th>
                <th>연령대</th>
                <th>비용</th>
                <th>기간시작</th>
                <th>기간끝</th>
                <th>기관</th>
            </tr>
            </thead>
            <tbody>
            {% if program_list %}
            {% for program in program_list %}
            <tr class="text-center">
                <td class="text-start">
                    <a href="{% url 'program:detail' program.id %}">{{ program.name }}</a>
                </td>
                <td>{{ program.type }}</td>
                <td>{{ program.category }}</td>
                <td>{{ program.age }}</td>
                <td>{{ program.price }}</td>
                <td>{{ program.start_date }}</td>
                <td>{{ program.end_date }}</td>
                <td>{{ program.host }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">질문이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if program_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ program_list.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in program_list.paginator.page_range %}
            {% if page_number >= program_list.number|add:-5 and page_number <= program_list.number|add:5 %}
            {% if page_number == program_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if program_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ program_list.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
    </div>
{% endblock %}
