{% extends 'base.html' %}
{% block content %}
<a href="{% url 'facility:showFacilitylist' %}" class="delete btn btn-sm btn-outline-success" style="position:relative;top:65px;left:1100px;">전체시설목록</a>
<div class="container my-3">
    <!-- 시설 세부정보 -->
    <h2 class="border-bottom py-2">{{ facility.name }}</h2>
    <div class="card my-3">
        <div class="card-body" ">
            <div class="card-text" style="white-space: pre-line;">
                <구분>
                {{ facility.cate_1 }}

                <행정동>
                {{ facility.dong }}

                <분류체계>
                {{ facility.cate_2 }}

                <시설정보>
                {{ facility.content }}

                <홈페이지>
                <a href= "{{ facility.url }}" target="_blank"> {{ facility.url }}</a>

                <div id="map" style="width:70%;height:350px;position:relative;top:30px;left:150px"></div>
         <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3464eb8d032a6121616cba7859e41673"></script>
        <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng( {{ facility.lat }}, {{facility.lng}} ), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        var markerPosition  = new kakao.maps.LatLng({{ facility.lat }}, {{facility.lng}});

        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

        marker.setMap(map);
        </script>
            <카카오맵 길찾기>
            <a href= "https://map.kakao.com/link/to/{{ facility.name }}, {{ facility.lat }}, {{facility.lng}}" target="_blank"> {{ facility.name }}으로 길찾기 바로가기 </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}