{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">새 글 등록</h5>
    <form method="post">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="title" class="form-label">동아리명</label>
            <input type="text" class="form-control" name="title" id="title"
                   value="{{ form.title.value|default_if_none:'' }}">
        </div>

        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>

        <div class="mb-3">
            <label for="subject" class="form-label">카테고리<br>
                기악예술<input type="checkbox" name="category" value="기악예술분과">
                문화체육<input type="checkbox" name="category" value="문화체육분과">
                사회<input type="checkbox" name="category" value="사회분과">
                사회종교<input type="checkbox" name="category" value="사회종교분과">
                생활문화<input type="checkbox" name="category" value="생활문화분과">
                언어<input type="checkbox" name="category" value="언어분과">
                연행예술<input type="checkbox" name="category" value="연행예술분과">
                인문과학<input type="checkbox" name="category" value="인문과학분과">
                전시창작<input type="checkbox" name="category" value="전시창작분과">
                종교<input type="checkbox" name="category" value="종교분과">
                체육<input type="checkbox" name="category" value="체육분과">
                학술연구<input type="checkbox" name="category" value="학술연구분과">
            </label>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">프로그램 상세 설명</label>
            <br>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <br>
        <div class="mb-3">
            <label for="hashtag" class="form-label">해시태그</label>
            <br>
            프로그램 및 동아리를 설명하는 해시태그를 5개 이내로 적어주세요!
            <textarea class="form-control" name="hashtag"
                      id="hashtag" rows="2"></textarea>
        </div>
        <br>
        <div class="mb-3">
            <label for="inquiry" class="form-label">문의 사항</label><br>
            문의 사항이 있을 시 연락할 수 있는 연락처를 적어주세요!
            <textarea class="form-control" name="inquiry"
                      id="inquiry" rows="1">{{ form.inquiry.value|default_if_none:'' }}</textarea>
        </div>
        <br>
        <div class="mb-3">
            <label for="apply" class="form-label">신청 방법</label><br>
            오픈채팅 링크, 구글폼, 전화번호 등 신청 양식을 자유롭게 올려주세요!
            <textarea class="form-control" name="apply"
                      id="apply" rows="1">{{ form.apply.value|default_if_none:'' }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">등록하기</button>
    </form>
</div>
{% endblock %}